# Backend API and Socket URLs
REACT_APP_API_URL=http://localhost:5000/api
REACT_APP_SOCKET_URL=http://localhost:5000

# EmailJS Configuration
REACT_APP_EMAILJS_SERVICE_ID=your_emailjs_service_id
REACT_APP_EMAILJS_PUBLIC_KEY=your_emailjs_public_key
REACT_APP_EMAILJS_OTP_TEMPLATE_ID=your_emailjs_otp_template_id
REACT_APP_EMAILJS_NOTIFY_TEMPLATE_ID=your_emailjs_notify_template_id
